# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# eGov etc...
/DATABASE/
/Docs/

# properties
*.properties

# production
/target/

# misc
.DS_Store
*.pem

# debug


# ide files
/.idea/
/.settings/
.classpath
.project
